/* Start Variables File */

// Colors

$main-color: #08526d;
$secondary-color: #ec1c23;
$white-color: #fff;
$red-color: #ed1d24;

/* End Variables File */

/* ============================================================================== */
